<beans xmlns="http://www.springframework.org/schema/beans" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

<!-- fill the code -->
<bean id="staffObj" class="com.spring.app.Staff">
	<constructor-arg name="staffId" type="int" value="1"></constructor-arg>
	<constructor-arg name="staffName" type="java.lang.String" value="Ragul"></constructor-arg>
	<constructor-arg name="departmentName" type="java.lang.String" value="CSE"></constructor-arg>
	<constructor-arg name="contactNo" type="long" value="9445543300"></constructor-arg>
</bean>
<bean id="departmentObj" class="com.spring.app.Department">
	<constructor-arg name="departmentId" type="int" value="123"></constructor-arg>
	<constructor-arg name="staffs">
		<list>
			<ref bean="staffObj"/>
		</list>
	</constructor-arg>
</bean>
  
</beans>